.addMarginBottom {
  margin-bottom: 2em;
}

.addMarginBottomAndTop {
  margin-bottom: 1em;
  margin-top: 1em;
}

.styleForHeadline {
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  color: #676767;
}

.styleForFormRoot {
  height: 100%;
  overflow: auto;
}

.styleForFormContent {
  margin: 0 auto;
  max-width: 50em;
}
